<div class="topnav">
<img src="Toki.png">
<p *ngIf="authService.currentUserSig() as user">
  Welcome back, {{ user.fullName }}!
</p>
<p *ngIf="!authService.currentUserSig()">You're not logged in.</p>

<!-- Show login/signup links only when NOT logged in -->
<nav *ngIf="!authService.currentUserSig()">
  <a routerLink="/login" class="Login">Login</a>
  <a routerLink="/signup" class="Signup">Signup</a>
</nav>            

<!-- Show logout button and chat link when logged in -->
<nav *ngIf="authService.currentUserSig()">
  <button (click)="logout()" class="Logout">Logout</button>
</nav>
</div>

<!-- Show different content based on authentication state -->
<div *ngIf="!authService.currentUserSig()">
  <router-outlet></router-outlet>
</div>

<div *ngIf="authService.currentUserSig()">
  <router-outlet></router-outlet>
</div>
